
    $black: #000000;

    $blackopacity: #00000040;
    $verdeacqua: #49fcd4;
    $input-h: 52px;
//     .after::after{
//         background: #43d9b8;
//         content: '';
//         display: block;
//         margin-top: 1rem;
//         position: absolute;
//         width: 2px;
//     }
//     h1{
//         &::after{
//             background: #43d9b8;
//             border-radius: 0.5rem;
//             content: '';
//             display: block;
//             height: 0.5rem;
//             position: absolute;
//             top: 2.75rem;
//             width: 0.5rem;
//             left: 22rem;
//     }
//     &::before{
//         background: rgb(67, 217, 184);
//         content: "";
//         display: block;
//         height: 2px;
//         position: absolute;
//         top: 3rem;
//         z-index: -1;
//         left: 22rem;
//         width: 6rem;

//     }
// }



 .w-70{
    width: 80%;
    height: auto;
 }

 


 .first-lorem{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1px;
}

 .me-7{
    margin-right: 10rem;
 }

 .terzoh2{
    width: 20rem;
    // top: 764px;
    // left: 237px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right;
}

.firsth3{
@extend .terzoh2;
font-weight: 600;
font-size: 16px;

}

.secondh3{
@extend .firsth3;
}
.terzoh3{
@extend .firsth3;
}

.quartoh3{
@extend .firsth3;
}

.quintoh3{
@extend .firsth3;
}

.sestoh3{
@extend .firsth3;
}

.settimoh3{
@extend .firsth3;
}

 .primoh2{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

.secondoh2{
    @extend .primoh2;
   
    a{
        text-decoration: none;
        color: black;
        border-bottom: dotted 1px;
    }

}

 .h-60{
    height: 60vh !important;
}

.hleft{
    position: relative;
    height: 60vh;
    top: -20vh;
}

.hleft{
    position: relative;
    height: 60vh;
    top: -25vh;
}

body{
    overflow-x: hidden;

    // font-size : 14px; 
    color: $black; 
    // background-color: $verdeacqua;
    
}

.h-screen{
    height: 100vh ;
}

.h-screen-2{
    height: 100vh ;
}

.primo-titolo{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.sanspro-font{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
}

.raleway-fs{
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 12px;
    line-height: 57px;
}

.first-left{
    background-color: $verdeacqua !important;
}

.spazio{
    margin: 6rem 4rem;
}
body{
    
.first-title{
    
    
    z-index: 2;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700 !important;
    font-size: 87px !important;
    line-height: 95px !important;
    
}
.firstp{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1px;
    width: 20rem;
    
}
.secondp{
    @extend .firstp;
    
}

.terzop{
    @extend .firstp;
}

.quartop{
    @extend .firstp;
    span{
        border-bottom: dotted 1px;

    }
}

.quintop{
    @extend .firstp;
    span{
        border-bottom: dotted 1px;

    }
}

.sestop{
    @extend .firstp;
    width: 23rem;
    
}


}
.second-lorem{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.65px;

}

.copywrite{
    color: $blackopacity;
}
.first-right{
    height: 100vh;
    background-image: url("../../../assets/img/78ede9c174b915b6d65b4cc54a8dfbce.jpg");
    background-size: cover;
    background-repeat: round;
}


.mt-6{
    margin-top: 8rem;
}
.layout-destra{
    // width: 80%;

    
    
   

   

    .my-7{
        margin-top: 7rem;
        margin-bottom: 7rem;

    }
   

.mt-11{
    margin-top: 11rem;

}

.icon{  
    border: 1px solid #F4F4F4;
    border-radius: 42%;
    padding: 9px;
    height: 50px;
    background-color: #F4F4F4;
    
}



}

.btn{
    color: $black;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 13px;
    line-height: 57px;
    height: 70% ;
    font-size: 10px;

    // width: 75%;

   

}

textarea{
    resize: none;
}

.bg-acqua{
    background-color: $verdeacqua;
}

.btn-primary{
    background-color: $verdeacqua;
    border-color: transparent;

    &:hover{
        // text-decoration: none !important;
        background-color: $verdeacqua;
        border-color: transparent;
        color: $black;

        
    }
}

.btn-secondary{
    background-color: transparent;
    border-color: rgba(144, 144, 144, 0.25);

    &:hover{
        // text-decoration: none !important;
        background-color: transparent;
        border-color: rgba(144, 144, 144, 0.25);
        color: $black;

        
    }
}

.w-80{
    width: 80%;
}


input{
    height: $input-h;
}

textarea{
    height: 273px;
}

#formbtn{
    width: 170px;
    // color: #000000;
}

.secondh2{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.text-end{
    margin-right: 5rem !important;
}

.margini-testo{
    margin-top: 20rem !important;}
.size{
    margin: 6rem 4rem;
   
}

.bg{
    background-color: $verdeacqua;
}

.mail{
    margin-top: 8rem;
}

@media  screen and (max-width:992px) {

    .mail{
        font-size: 16px;
    }

    .terzoh2{
        font-size: 18px;
    }

    .first-lorem{
        font-size: 13px;
    }

    .getintouch{
        display: flex !important;
    }

    .left-box{
        background-color: white !important;
    }
    .size{
        h1,h2,h3,p{
            text-align: left !important;

        }
        align-items: flex-start !important;
    }

    .contact{
        display: none !important;
    }

    .dati-contatto{
        display: none !important;
    }

    
    .getintouch{
        h3{
            font-size: 12px !important;
        }
        p{
            font-size: 14px !important;
            width: 100%;
        }
    }

   
}

@media screen and (min-width: 768px) and (max-width:992px){
    .terzoh2{
        font-size: 24px;
    }
    .getintouch{
        h3{

            font-size: 16px !important;
        }
        p{
            font-size: 18px !important;
        }
    }
    
    .first-lorem{
        font-size: 20px;
    }
}
