.w-70 {
  width: 80%;
  height: auto;
}

.first-lorem {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 1px;
}

.me-7 {
  margin-right: 10rem;
}

.terzoh2, .firsth3, .settimoh3, .sestoh3, .quintoh3, .quartoh3, .terzoh3, .secondh3 {
  width: 20rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: right;
}

.firsth3, .settimoh3, .sestoh3, .quintoh3, .quartoh3, .terzoh3, .secondh3 {
  font-weight: 600;
  font-size: 16px;
}

.primoh2, .secondoh2 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.secondoh2 a {
  text-decoration: none;
  color: black;
  border-bottom: dotted 1px;
}

.h-60 {
  height: 60vh !important;
}

.hleft {
  position: relative;
  height: 60vh;
  top: -20vh;
}

.hleft {
  position: relative;
  height: 60vh;
  top: -25vh;
}

body {
  overflow-x: hidden;
  color: #000000;
}

.h-screen {
  height: 100vh;
}

.h-screen-2 {
  height: 100vh;
}

.primo-titolo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.sanspro-font {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
}

.raleway-fs {
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 12px;
  line-height: 57px;
}

.first-left {
  background-color: #49fcd4 !important;
}

.spazio {
  margin: 6rem 4rem;
}

body .first-title {
  z-index: 2;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700 !important;
  font-size: 87px !important;
  line-height: 95px !important;
}
body .firstp, body .sestop, body .quintop, body .quartop, body .terzop, body .secondp {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 1px;
  width: 20rem;
}
body .quartop span {
  border-bottom: dotted 1px;
}
body .quintop span {
  border-bottom: dotted 1px;
}
body .sestop {
  width: 23rem;
}

.second-lorem {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.65px;
}

.copywrite {
  color: rgba(0, 0, 0, 0.2509803922);
}

.first-right {
  height: 100vh;
  background-image: url("../../../assets/img/78ede9c174b915b6d65b4cc54a8dfbce.jpg");
  background-size: cover;
  background-repeat: round;
}

.mt-6 {
  margin-top: 8rem;
}

.layout-destra .my-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.layout-destra .mt-11 {
  margin-top: 11rem;
}
.layout-destra .icon {
  border: 1px solid #F4F4F4;
  border-radius: 42%;
  padding: 9px;
  height: 50px;
  background-color: #F4F4F4;
}

.btn {
  color: #000000;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 13px;
  line-height: 57px;
  height: 70%;
  font-size: 10px;
}

textarea {
  resize: none;
}

.bg-acqua {
  background-color: #49fcd4;
}

.btn-primary {
  background-color: #49fcd4;
  border-color: transparent;
}
.btn-primary:hover {
  background-color: #49fcd4;
  border-color: transparent;
  color: #000000;
}

.btn-secondary {
  background-color: transparent;
  border-color: rgba(144, 144, 144, 0.25);
}
.btn-secondary:hover {
  background-color: transparent;
  border-color: rgba(144, 144, 144, 0.25);
  color: #000000;
}

.w-80 {
  width: 80%;
}

input {
  height: 52px;
}

textarea {
  height: 273px;
}

#formbtn {
  width: 170px;
}

.secondh2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.text-end {
  margin-right: 5rem !important;
}

.margini-testo {
  margin-top: 20rem !important;
}

.size {
  margin: 6rem 4rem;
}

.bg {
  background-color: #49fcd4;
}

.mail {
  margin-top: 8rem;
}

@media screen and (max-width: 992px) {
  .mail {
    font-size: 16px;
  }
  .terzoh2, .firsth3, .secondh3, .terzoh3, .quartoh3, .quintoh3, .sestoh3, .settimoh3 {
    font-size: 18px;
  }
  .first-lorem {
    font-size: 13px;
  }
  .getintouch {
    display: flex !important;
  }
  .left-box {
    background-color: white !important;
  }
  .size {
    align-items: flex-start !important;
  }
  .size h1, .size h2, .size h3, .size p {
    text-align: left !important;
  }
  .contact {
    display: none !important;
  }
  .dati-contatto {
    display: none !important;
  }
  .getintouch h3 {
    font-size: 12px !important;
  }
  .getintouch p {
    font-size: 14px !important;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .terzoh2, .firsth3, .secondh3, .terzoh3, .quartoh3, .quintoh3, .sestoh3, .settimoh3 {
    font-size: 24px;
  }
  .getintouch h3 {
    font-size: 16px !important;
  }
  .getintouch p {
    font-size: 18px !important;
  }
  .first-lorem {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
